<!DOCTYPE html>
<html>
  <head>
    <title>Hacktiv8</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Student Hacktiv8</h1>
    <p>Welcome to Hacktiv8</p>

    <p><%=value%></p>
  </body>
</html>
