@import url('https://fonts.googleapis.com/css?family=Proza+Libre');
body {
  padding: 50px;
  font-family: 'Proza Libre', sans-serif;
}

a {
  color: #00B7FF;
}

table {
  width: 100%
}
table, table tr td, table th td {
  border: 2px solid #ccc;
}
table tr th {
  text-align: left;
}
.bordered {
  border: solid 1px #ccc;
}

input[type="submit"] {
  float: left;
}
